﻿@model IEnumerable<BlogProjesi.Bloglar>
@{
    ViewBag.Title = "Home Page";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->

<header class="intro-header" style="background-image: url('/Content/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Bir Web Programlama Projesi</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                @foreach (var item in Model)
                {
                    <div>
                        <h2>@Html.ActionLink(@item.BlogBaslik, "Icerik", new { id = item.BlogID }, new { @class = "post-title", style = "text-decoration:none" })</h2>
                        <h3>@item.BlogAltBaslik</h3>
                        <p class="post-meta">@item.Tarih tarihinde yayınlandı.</p>
                        <hr />
                    </div>
                }
            </div> 
        </div>
    </div>
</div>
<hr>