﻿@model IEnumerable<BlogProjesi.Bloglar>

@{
    ViewBag.Title = "Listele";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.BlogBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogAltBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogIcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogBaslik)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BlogAltBaslik)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BlogIcerik)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Duzenle", new { id = item.BlogID }) |
                @Html.ActionLink("Sil", "Sil", new { id = item.BlogID })
            </td>
        </tr>
    }

</table>
