﻿@model BlogProjesi.Bloglar

@{
    ViewBag.Title = "Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Blog silinsin mi?</h3>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.BlogID)
            <dt>
                @Html.DisplayNameFor(model => model.BlogIcerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlogIcerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BlogAltBaslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlogAltBaslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BlogBaslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlogBaslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tarih)
            </dd>

        </dl>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" />
            @*@Html.ActionLink("Sil", "SilmeOnayi", "AdminHome", new { id=Model.blogID })*@ |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
